@use "../../../styles/theme";

.imageContainer {
  position: relative;
}

.textContainer {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 90%;
}

.text {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 1px 1px theme.$white;
  padding-bottom: 10px;
  border-bottom: 10px solid theme.$beige;
  color: theme.$dark-blue;
}
