{
  "extends": ["airbnb", "airbnb/hooks", "prettier", "plugin:prettier/recommended"],
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
